.titulo{
    
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.btn-primary{
    width: 100px;
    margin: 15px;
    box-shadow: 10px 5px 15px rgb(53, 53, 247);
}
.btn-info{

    width: 100px;
    margin: 15px;
    box-shadow: 10px 5px 15px rgb(30, 197, 230);

}

.btn-danger{

    width: 100px;
    margin: 15px;
    box-shadow: 10px 5px 15px rgb(247, 53, 66);

}
.btn-success{
    width: 100px;
    margin: 15px;
    box-shadow: 10px 5px 15px rgb(133, 234, 151);
    color: white;
} 

body{
    background-color: rgb(90, 153, 209);   
}

main{
display: inline;
justify-content: center;
}

footer{
    text-align: center;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editar{

    width: 50px;
}

.deletar{

    width: 50px;
}

.cor_editar{

    color: yellow;
}

.cor_deletar{

    color: red;
}

.cor_deletar:hover{

    color: red;
}

.cor_editar:hover{

    color: yellow;
}
